<html>
    <head>
    <meta http-equiv="refresh" content="120">
        <title>{{ fullDisplayName }}</title>
        <style>
            body {
                background: {% if result == 'SUCCESS' %}lime{% else %}red{% endif %};
                font-family: "kulturista-web",Helvetica,Arial,Verdana,sans-serif;
            }
        </style>
    </head>
    <body>
        <p>Latest build result - {{ fullDisplayName }}:</p>
        <h1 style="font-size:130;margin-left:auto;
        margin-right:auto;
        width:70%;
        ">BUILD {{ result }}</h1>
        <p style="font-size: 2.5em;">
        Full details at <a target="_blank" href="{{ url }}">{{ url }}</a></p>
        <p>Commits made by:</p>
        <ul>{% for culprit in culprits %}
        <li>{{ culprit.fullName }}</li>
        {% endfor %}</ul>
    </body>
</html>
